<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extas/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hamoodah Company Home Page</title>
</head>
<body>

    <h2>Hamoodah Company Home Page.</h2>
    <hr>
    <p>
    Welcome to Hamoodah company Home Page! 😎🔥
    </p>

    <hr>


        <p>         <!-- display user id -->
            User: <span sec:authentication="principal.username"></span>
            <br><br><!-- display user roles -->
            Role(s): <span sec:authentication="principal.authorities"></span>
        </p>



    <hr>

    <div sec:authorize="hasRole('MANAGER')">

        <p>
            <a th:href="@{/leaders}">
                Leadership Meeting
            </a>
                (Only For Manager Peeps)
        </p>

    </div>

    <div sec:authorize="hasRole('ADMIN')">

        <p>
            <a th:href="@{/systems}">
                IT Systems Meeting
            </a>
            (Only For Admin Peeps)
        </p>

    </div>

    <hr>

    <form action="#" th:action="@{/logout}" method="post">

        <input type="submit" value="Logout"/>
    </form>

</body>
</html>